<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" href="{{ path('app_homepage') }}">Lockio</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {{ 'header.actions' | trans }}
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="{{ path('app_bucket') }}">{{ 'header.bucket' | trans }}</a>
                        <a class="dropdown-item" href="{{ path('app_profile') }}">{{ 'header.profile' | trans }}</a>
                        <a class="dropdown-item" href="{{ path('app_payment_settings') }}">{{ 'header.payment_settings' | trans }}</a>
                        <a class="dropdown-item" href="{{ path('app_invoices') }}">{{ 'header.invoices' | trans }}</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{{ path('logout') }}">{{ 'header.logout' | trans }}</a>
                    </div>
                </li>
            {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('login') }}">{{ 'header.login' | trans }}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('app_user_registration') }}">{{ 'header.register' | trans }}</a>
                </li>
            {%  endif %}
        </ul>
    </div>
</nav>