<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{{ 'emailPasswordReset.welcome' | trans }}{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
</head>
<body>
    <p>{{ 'emailPasswordReset.hi' | trans ({'%userFirstname%': user.firstname, '%userLastname%': user.lastname}) }}</p>
    <p>{{ 'emailPasswordReset.you_have_requested_to_reset_your_password' | trans }} <a href="{{ link }}">{{ link }}</a></p>
    <p>{{ 'emailPasswordReset.kind_regards' | trans | raw }}</p>
</body>
</html>