{% extends 'base.html.twig' %}

{% block title %}{{ 'passwordLinkSent.page_title' | trans }}{% endblock %}

{% block content %}
    <div class="jumbotron">
        <h1 class="display-4">{{ 'passwordLinkSent.password_link_sent' | trans }}</h1>
        <p class="lead">{{ 'passwordLinkSent.password_link_sent_to_the_email' | trans ({'%email%': email}) }}</p>
        <hr class="my-4">
        <a class="btn btn-primary btn-lg" href="{{ path('login') }}" role="button">{{ 'passwordLinkSent.go_to_login' | trans }}</a>
    </div>
{% endblock %}