{% extends 'base.html.twig' %}

{% block title %}{{ 'passwordReset.page_title' | trans }}{% endblock %}

{%  block stylesheets %}
        {{ parent() }}
        <link href="{{ asset('assets/signin.css') }}" rel="stylesheet">
{%  endblock %}

{% block content %}
    {{ form_start(form, {'attr': { 'class': 'form-signin', novalidate: 'novalidate'} }) }}
        <h1 class="h3 mb-3 font-weight-normal" style="text-align: center;">{{ 'passwordReset.password_reset' | trans }}</h1>

        <div class="form-group">
            {{ form_errors(form.email) }}
            {{ form_widget(form.email, {'attr': {'class': 'form-control'}}) }}
        </div>

        <a class="btn btn-primary" href="{{ path('login') }}">{{ 'passwordReset.cancel' | trans }}</a>
        <button class="btn btn-success" type="submit" name="resetBtn">{{ 'passwordReset.reset' | trans }}</button>
    {{ form_end(form) }}
{% endblock %}