{% extends 'base.html.twig' %}

{% block title %}{{ 'passwordNew.page_title' | trans }}{% endblock %}

{%  block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('assets/signup.css') }}" rel="stylesheet">
{%  endblock %}

{% block content %}
    {{ form_start(form, {'attr': {'class':"form-signin", novalidate: 'novalidate'}}) }}

        <h1 class="h3 mb-3 font-weight-normal" style="text-align: center;">{{ 'passwordNew.password_reset' | trans }}</h1>

        <div class="form-group">
            {{ form_errors(form.plainPassword.first) }}
            {{ form_widget(form.plainPassword.first, {'attr': {'class': 'form-control'}}) }}
        </div>

        <div class="form-group">
            {{ form_errors(form.plainPassword.second) }}
            {{ form_widget(form.plainPassword.second, {'attr': {'class': 'form-control'}}) }}
        </div>

    {{ form_rest(form) }}

        <button type="submit" class="btn btn-success">{{ 'passwordNew.set' | trans }}</button>

    {{ form_end(form) }}

{% endblock %}